<section class="bg-deco-coral py-lg-18 py-12">
    <div class="container">
            <div class="row mb-lg-17 d-flex flex-column flex-lg-row mb-12 mb-lg-17">
                <div class="col-lg-4 col-12 mb-7 mb-lg-0">
                    <a href="#" class="foodtalk-cover bg-primary position-relative">
                        <div class="foodtalk-back w-100 h-100 position-absolute top-0 left-0">
                            <img src="../assets/images/deco/talk-pink.svg" alt="talk-pink">
                        </div>
                        <div>
                            <div class="foodtalk-img">
                                <img src="../assets/images/home-3.jpg" alt="home-3" class="img border border-primary border-4 w-100">
                            </div>
                            <div class="p-7 h-100">
                                <p class="text-deco-coral fw-medium fs-5 mb-7">超級喜歡這個平台!在這裡我不僅能找到新鮮的食物,還能遇到很多友好的分享者。每次與其他 Buddy 的互動都充滿了正能量,這讓我覺得自己真的成為了這個社群的一部分，謝謝你們！</p>
                                <h3 class="text-deco-coral fw-bold lh-xs fs-md-4">— 街口阿勇 —</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-12 mb-7 mb-lg-0">
                    <a href="#" class="foodtalk-cover bg-primary position-relative">
                        <div class="foodtalk-back w-100 h-100 position-absolute top-0 left-0 m-auto">
                            <img src="../assets/images/deco/talk-pink.svg" alt="talk-pink">
                        </div>
                        <div>
                            <div class="foodtalk-img"><img src="../assets/images/home-4.jpg" alt="home-4" class="img border border-primary border-4 w-100"></div>
                            <div class="p-7">
                                <p class="text-deco-coral fw-medium fs-5 mb-7">謝謝 Flavor Trail 的大家，今天收到一位超棒的分享者提供的美味午餐！真的很感謝你們的慷慨,讓我在窘困時期不再擔心吃飯問題。這種分享讓我感到社群的溫暖，謝謝你們！</p>
                                <h3 class="text-deco-coral fw-bold lh-xs fs-md-4">— 努力生存的勇者 —</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-12 mb-7 mb-lg-0 h-100">
                    <a href="#" class="foodtalk-cover bg-primary position-relative">
                        <div class="foodtalk-back w-100 h-100 position-absolute top-0 left-0">
                            <img src="../assets/images/deco/talk-pink.svg" alt="talk-pink">
                        </div>
                        <div>
                            <div class="foodtalk-img"><img src="../assets/images/home-5.jpg" alt="home-5" class="img border border-primary border-4 w-100"></div>
                            <div class="p-7">
                                <p class="text-deco-coral fw-medium fs-5 mb-7">成為 Flavor buddy 真的是一件非常有趣的事!我每次分享食物的時候都會特別注意衛生,因為知道它們可能會送到需要的人手中。這不僅是對食物的尊重,也是對這個社群的愛。</p>
                                <h3 class="text-deco-coral fw-bold lh-xs fs-md-4">— 巷口阿美 —</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="row">
            <h4 class="text-primary fw-bold fs-lg-3 mb-5 mb-lg-7">WE ARE DEEPLY<br>THANKFUL</h4>
            <div class="position-relative">
                <div class="col-9 col-md-9 col-lg-12">
                    <h2 class="text-primary display-3 display-lg-1 foodtalk-title">餘味尋者有 <span class="d-none d-lg-inline">說！</span></h2>
                </div>
                <img src="../assets/images/deco/talk-green.svg" alt="talk-green" class="position-absolute talk-talk">
            </div>
            <h2 class="text-primary display-3 display-lg-1 text-end d-lg-none">說！</h2>
        </div>
    </div>
</section>